.frontPageImg {
  width: 230px;
  height: auto;
}

.login {
  display: grid;
}

.body {
  background-color: burlywood;
  display: flex;
  height: 85vh;
  align-items: center;
  justify-content: space-evenly;

}

.header h1 {
  width: 100vw;
}

.header {
  background-color: aquamarine;
  width: 100vw;
  height: 15vh;
  display: flex;
  text-align: center;
}