.frontPageImg {
  width: 230px;
  height:auto;
}

.login {
  display:grid;
}

.body {
  background-color: burlywood;
  display: flex;
  height: 100vh;
}

.header h1 {
text-align: center;
  
}

.header {
  background-color: aquamarine;
  width: 100vw;
  display: flex;
}