.frontPageImg {
  width: 230px;
  height: auto;
}

.header {
  position: relative;
  background-image: url('./images/cardHeader.jpg'); 
  background-size: cover; 
  background-position: center;
  height: 20vh; 
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: flex-start;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.body {
  background-image: url('./images/greenBackground.jpg'); 
  background-size: cover; 
  background-position: center;
  display: flex;
  height: 85vh;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: scroll;
  margin-top: -10px; 
  box-shadow: 0px -20px 20px rgba(0, 0, 0, 0.5); 
  z-index: 0;
}


.loggedInHeader {
  width: 100vw;
  align-self: center;
  display: flex;
  text-align: center;
}

.loggedInHeaderText {
  color: whitesmoke;
  width: 70vw;
  margin-left: 15vw;
}

.logoutBtn {
  align-self: center;
  width: 10vw;
  margin-right: 5vw;
  justify-content: end;
}

.loginForm {
  display: grid;
}
